   
   <footer class="bg-dark">
     <section id="footer" class="py-5">
    
         <h6 class="m-0 mt-4 text-center text-white text-capitalize">Copyright &copy; 2020 Datavalut</h6>
       </div>
     </section>
   </footer>