<section>
    <div class="container pt-5 pl-5">
        
            <a  href="/login"class="btn btn-primary ml-5" >Login</a>
            <a href="/register" class="btn btn-secondary  ml-5" >Register</a>
            <a href="/transaction" class="btn btn-success  ml-5">Transactions</a>
        
    </div>
</section>