<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2>Transaction_By_Id</h2>
            <form action="/users" method="GET">
                <div class="form-group">
                    <label for="txt_id">Organization</label>
                    <input class="form-control" type="text" value="{{result.result.tx_id}}" readonly name="txt_id">
                </div>
                

                <button type="submit" class="btn btn-success float-right" >Get Result</button>
            </form>
        </div>
    </div>
</div>